*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: initial;
}
img{
    max-width: 100%;
}